@model InternshipDotCom.Models.AssignedCoordinator

@{
    ViewData["Title"] = "Delete";
}



<div class="card">
    <div class="card-header" style="background-color: orangered;">
        <h2 class="text-center">UnAssign Coordinator</h2>
    </div>
    <div class="card-body" style="background-color: #ffcccc;">
        <h4 class="card-title">Are you sure you want to UnAssign Coordinator?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Coordinator Name:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ApplicationUser.UserName)</dd>
            <dt class="col-sm-3">University:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.university.name)</dd>
            <dt class="col-sm-3">Department:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.department.Name)</dd>
        </dl>
    </div>
</div>

<form asp-action="Delete" class="mt-3" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Yes</button> 
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
