@model InternshipDotCom.Models.Internship

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Internship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InternshipName" class="control-label"></label>
                <input asp-for="InternshipName" class="form-control" />
                <span asp-validation-for="InternshipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternshipType" class="control-label"></label>
                <input asp-for="InternshipType" class="form-control" />
                <span asp-validation-for="InternshipType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostedAt" class="control-label"></label>
                <input asp-for="PostedAt" class="form-control" />
                <span asp-validation-for="PostedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfApplicant" class="control-label"></label>
                <input asp-for="NumberOfApplicant" class="form-control" />
                <span asp-validation-for="NumberOfApplicant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationId" class="control-label">Organization</label>
                <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId">
                    <option value="">--Select Organization--</option>
                </select>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
