@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="row">
    <div class="col-md-4 mx-auto rounded border p-3 shadow-lg" style="background-color: #f8f9fa;">
        <section>
            <br />
            <h3 class="text-center "><b>InternshipDotCom</b></h3>
            <h4 class="text-center" style="margin-top:21px;"><b>ForgotPassword</b></h4>
            <br />
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <form method="post">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </section>
    </div>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
